.faculty_profile_details_container{
    height: calc(100vh - 70px - 16px);
}
.faculty_profile_details_container::-webkit-scrollbar {
  width: 6px;
}

.faculty_profile_details_container::-webkit-scrollbar-thumb {
  border-radius: 6px;
}

.faculty_profile_details_container::-webkit-scrollbar-thumb:hover {
  /* background-color: #555; */
}

.faculty_profile_details_container::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
/* -------------------------added css for new modification UI---------------------------- */
.user_profile_img_container{
  width: 100%;
  height: 150px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(232, 229, 229);
}
.user_profile_img_name_div{
  display: flex;
  align-items: center;
  gap:20px;
}
.user_name_desig_div>p:first-child{
  font-weight: 600;
}
.user_name_desig_div>p:last-child{
  font-weight: 500;
  font-size: 15px;
  color:gray
}
.user_profile_edit_btn_div{
  /* border: 1px solid red; */
}
.user_profile_edit_btn_div>button:first-child{
  padding: 5px 15px;
  border:2px solid  #6e3ad6;
  border-radius: 5px;
  color: #6e3ad6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}
.user_profile_edit_btn_div>button:hover{
  border:2px solid  #8067b3;
  color: #8067b3;
}
.edit_icon{
  font-size: 20px;
  margin-right: 5px;
}
.user_profile_edit_btn_div>button:last-child{
  display: none;
}
.user_profile_data_container{
   width: 100%;
  height: calc(100vh - 70px - 16px - 150px - 15px);
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(232, 229, 229);
  /* border: 1px solid red; */
}
.user_profile_data_container_for_desktop{
   width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 30px;
  gap:20px
}
.user_profile_data_container_for_desktop>div>p:first-child{
  font-weight: 500;
  font-size: 15px;
}
.user_profile_data_container_for_desktop>div>p:last-child{
  font-weight: 500;
  font-size: 14px;
  color:gray
}



/* --------------------------------------------------ended here----------------------------------------- */
.faculty_profile_details{
    width: 40%;
    height: auto;
    margin: 0 auto;
    padding: 20px 10px;
    border: 1px solid gray;
    border-radius: 8px;
}
.faculty_profile_all_details_container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.faculty_profile_image_div{
  width:85px;
  height:85px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  position: relative;
}
.profile_camera_div{
    position: absolute;
    bottom: 5px;
    right: -2px;
}
.profile_camera_div>span{
  width:30px;
  height: 30px;
  background-color: #5E17EB;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.img_upload_input{
    display: none !important;
}
.faculty_profile_image_div>img{
     width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
  align-items: center;
  justify-content: center;
}
.faculty_profile_image_div>span{
    width: 100%;
    height: 100%;
    font-size: 100px;
    border-radius: 50%;
    display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(137, 133, 133);   
 
}
.edit_btn_div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.edit_btn_div>span{
    font-size: 24px;
    cursor: pointer;
     color: #5E17EB;
}
.edit_btn_div>span:hover{
     color: #7343d5;
}
.faculty_profile_personal_details_div{
    width: 90%;
    margin-top: 15px;
    margin-right: 15px !important;
    overflow-x: scroll;
    display: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.faculty_profile_personal_details_div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.faculty_profile_personal_details_div {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.faculty_profile_personal_details_div>p{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.faculty_profile_personal_details_div>p>span{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}
.faculty_profile_personal_details_div>p>span:first-child{
    padding-left: 16px;
     font-weight: 500;
}

/* -------------------------------------media query------------------------------- */
@media screen and (max-width:320px){
     .faculty_profile_details_container{
    height: auto;
    overflow-y: hidden;
    padding-top: 0px;
    padding-bottom: 12px;  
}
.faculty_profile_all_details_container{
   margin-top: 15px;
}
.faculty_profile_details{
    width: 100%;
    height: 500px !important;
     box-shadow: none;  
     border: none;
     padding: 0px;
}
.faculty_profile_image_div{
    width: 100px;
    height: 100px;
}
.faculty_profile_image_div>span{
    font-size: 100px;
}
.faculty_profile_image_div>img{
     width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
  align-items: center;
  justify-content: center;
}
.profile_camera_div{
    position: absolute;
    bottom: 0px;
    right: 3px;
}
.profile_camera_div>span{
  width:35px;
  height: 35px;
  font-size: 22px;
}
.edit_btn_div{
    margin-top: 15px;
}
.edit_btn_div>span{
    font-size: 26px;
}

/* -------------------------------------------------------------------------------------- */
.user_profile_data_container_for_desktop{
  display: none;
}
.faculty_profile_personal_details_div{
    width: 100%;
    overflow-x: scroll;
    margin-top: 30px;
    padding: 0px;
    display: block;
}
.faculty_profile_personal_details_div>p>span{
    font-size: 12px;
     font-family: "Poppins",sans-serif;
}
.faculty_profile_personal_details_div>p>span:first-child{
  padding-left: 0px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.faculty_profile_personal_details_div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.faculty_profile_personal_details_div {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
}
@media screen and (min-width:321px) and (max-width:430px){
/* --------------------------------------- */
    .faculty_profile_details_container{
    height: auto;
    overflow-y: hidden;
    padding-top: 0px;
    padding-bottom: 12px;
}
.user_profile_data_container_for_desktop{
  display: none;
}
.faculty_profile_all_details_container{
   margin-top: 15px;
}
.faculty_profile_details{
    width: 100%;
    height: 530px !important;
     box-shadow: none;  
     border: none;
     padding: 20px 0px;
}
.faculty_profile_image_div{
    width: 90px;
    height: 90px;
}
.faculty_profile_image_div>span{
    font-size: 90px;
}
.faculty_profile_image_div>img{
     width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
  align-items: center;
  justify-content: center;
}
.profile_camera_div{
    position: absolute;
    bottom: 0px;
    right: 5px;
}
.profile_camera_div>span{
  width:38px;
  height: 38px;
  font-size: 24px;
}
.edit_btn_div{
    padding: 0px 20px;
}
.edit_btn_div>span{
    font-size: 28px;
}
.faculty_profile_personal_details_div{
    width: 100%;
    overflow-x: scroll;
    margin-top: 30px !important;
    padding: 0px;
    margin-right: 0px !important;
    display: block;

}
.faculty_profile_personal_details_div>p>span{
    font-size: 15px;
    font-family: "Poppins",sans-serif;
}

.faculty_profile_personal_details_div>p>span:first-child{
    padding-left: 0px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.faculty_profile_personal_details_div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.faculty_profile_personal_details_div {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
}
/* ------------------------------------------for tablet size--------------------- */
@media screen and (min-width: 431px) and (max-width: 600px){
    .faculty_profile_details_container{
    height: auto;
    overflow-y: hidden;
    padding-top: 0px;
    padding-bottom: 12px;
}
.faculty_profile_all_details_container{
   margin-top: 15px;
}
.faculty_profile_details{
    width: 90%;
     box-shadow: none;  
     border: none;
     padding: 20px 0px;
}
.faculty_profile_image_div>span{
    width: 100%;
    height: 100%;
    font-size: 120px;
}
.faculty_profile_image_div{
    width: 100px;
    height: 100px;
}
.profile_camera_div{
    position: absolute;
    bottom: 2px;
    right: 5px;
}
.profile_camera_div>span{
  width:40px;
  height: 40px;
  font-size: 24px;
}

.edit_btn_div{
    margin-top: 18px;
}
.edit_btn_div>span{
    font-size: 38px;
}
.user_profile_data_container_for_desktop{
  display: none;
}
.faculty_profile_personal_details_div{
    margin-top: 40px;
    display: block;
}
.faculty_profile_personal_details_div>p>span{
    font-size: 16px;
}
.faculty_profile_personal_details_div>p>span:first-child{
    padding-left: 0px;
}
}

/* ---------------------------------------------------------added new css----------------------------------------- */
@media screen and (max-width:600px){
   .user_profile_img_container{
    height: auto;
    padding: 10px 10px;
  }
  .user_profile_img_name_div{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:10px;
}
.user_name_desig_div>p:first-child{
  font-size: 14px;
}
.user_name_desig_div>p:last-child{
  font-size: 13px;
}
.user_profile_edit_btn_div>button:first-child{
  display: none;
}
.user_profile_edit_btn_div>button:last-child{
  display: block;
  color: #6e3ad6;
  border: none;
  outline: none;
  font-size: 30px;
  background-color: transparent;
}
.user_profile_data_container{
   width: 100%;
  height: calc(100vh - 70px - 16px - 150px - 15px);
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  padding: 10px 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(232, 229, 229);
}
.user_profile_data_container>h4{
  margin-top: 20px;
}
}