.navbar-container{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   padding: 0px 15px;
   position: fixed;
   top: 0;
   z-index: 99;
}
.navbar-left{
    flex: 1;
    display: flex;
    align-items: center;
}

.brand_name{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: bottom;
    font-family: 'Poppins';
    cursor: pointer;
}
.brand_name>h3{
    color:#212526;
}
.brand_name h3{
    line-height: 15px;
}
.brand_name p{
    font-size: 12px;
}
.navbar-logo-div{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.navbar-logo-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navbar-right{
    flex: 1;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.login-popup-btn-div{
}
.login-popup-btn-div>button{
 width: 110px;
  height:35px;
  border:2px solid #476ee1 !important;
  color: #3061f1;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: "Poppins",sans-serif;
  padding: 2px 10px;
  background-color: transparent;
}
.login-popup-btn-div>button:hover{
    color: #5278eb;
}
.select-login-popup-div{
    width:190px;
    height: 150px;
    background-color: whitesmoke;
    position: absolute;
    top:78px;
    right:20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
    z-index: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-login-popup-div>div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.select-login-popup-div>div>button{
  height:35px;
  border:2px solid #597dea !important;
  color: #3061f1;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: "Poppins",sans-serif;
  padding: 5px 15px;
}
.select-login-popup-div>div>button:hover{
    border:2px solid lightskyblue !important;
  color: lightskyblue; 
}

.desktop-notification-div{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.desktop-notification-div>span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    font-weight: 700;
    padding: 12px;
    color: #fff;
    background-color: #4B8DF0;
     transition: 0.3s;
     text-transform: uppercase;
}
.desktop-notification-div>span:hover{
    cursor: pointer;
    background-color: #2b538f;
}


.nav-icon{
    color: gray;
    cursor: pointer;
}
.user_login_name_div{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}
.user_login_name_div>p{
     display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
}
.user_login_name_div>p>span:first-child{
     display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 22px;
   color:#5E17EB
}
.user_login_name_div>p>span:last-child{
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
   
}

.user_profile_and_logout{
     background: #FFFFFF;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 15px;
    top:60px;
    padding: 15px 12px;
    border-radius: 4px;
    z-index: 99;
}
.user_profile_and_logout>span{
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.user_profile_and_logout>span:first-child{
    margin-bottom: 5px;
}
.user_profile_and_logout>span:nth-child(2){
    margin-bottom: 5px;
}

.password_popup_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.change_password_heading{
    color:#675cff;
    font-family: "Poppins",sans-serif;
    margin-bottom: 15px;
}
.change_password_input_div{
    width: 300px;
    margin-bottom: 10px;
}
.change_password_input_div > input{
    width: 100%;
    height: 35px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 8px;
     font-family: "Poppins",sans-serif;
}
.change_password_input_div > input[type="text"]{
     font-family: "Poppins",sans-serif;
}
.change_password_input_div > input:hover{
outline: none;
 border: 0.5px solid #4096ff;
 cursor: pointer;
}
.change_password_input_div > input:focus{
   outline: none;
  border: 0.5px solid #4096ff;
}
.change_password_confirm_btn{
    margin-top: 20px;
    text-align: center;
}
.passWordChangeBtn{
    width:100px !important;
    height:30px;
} 

/* ----------------------------------mobile nav list css------------------------------ */
ul{
    display: none;
}
ul>li{
    list-style: none;
    font-size: 13px;
    font-weight: 500;
   margin-bottom: 8px;
}
.logout_btn_for_mobile{
     padding-left: 12px;
    font-size: 13px;
    display: flex;
    align-items: center;
}
.logout_btn_for_mobile>span:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#212526;
}
.logout_btn_for_mobile>span:last-child{
color:#212526;
}

ul>li a{
    text-decoration: none;
}
.menu-div {
  height: 70px;
  font-size: 25px;
  display: none;
}
.open-icon,
.close-icon {
  font-size: 28px;
  z-index: 99;
}
.mob-nav-icon{
    font-size: 20px;
    margin-right: 10px;
}
/* ------------------------media query for mobile and tab------------------ */
@media screen and (max-width:920px){
    ul{
        display: block;
    }
    .desktop-notification-div{
        display: none;
    }
    .menu-div {
    display: block;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .openMenu {
    flex-direction: column;
    width: 70%;
    height: 90vh;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 20px 0px 20px;
    top: 70px;
    right: 0;
    bottom: 0;
    transition: all 0.5s ease;
    padding-top: 35px;
    /* background-color: rgb(222, 222, 255); */
    z-index: 999;
    background-color: #fff;
  }
  .openMenu li{
     height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 8px;
    border-radius: 4px;
  }
  .openMenu  li a{
    width: 100%;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding:0px 10px ;
    padding-bottom: 0px;
    /* margin-bottom: 8px; */
    border-radius: 4px;
    color: #000;
  }
  .openMenu  li a>span:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .openMenu  li a>span:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .closeMenu {
    right: -100%;
    transition: all 0.7s ease;
  } 
  
  
}
@media screen and (max-width:320px){
     .navbar-logo-div{
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.navbar-logo-div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
     .brand_name>h3{
        width: fit-content;
        font-size: 16px;
    }
     .openMenu li{
    margin-bottom: 9px;
     color: #5E17EB
  }
    .openMenu  li a{
    font-size: 16px;
     color: #5E17EB
  }
  .logout_btn_for_mobile>span:last-child{
    font-size: 16px;
  }
  .mob-nav-icon{
    font-size: 27px;
  }
   .change_password_input_div{
    width: 200px;
    /* padding: 0px 10px; */
  }
  .change_password_input_div > input{
    width: 100%;
    height:40px;
    font-size: 15px;
  }
   
}
@media screen and (min-width:321px) and (max-width:430px){
    .brand_name>p{
        display: none;
    }
    .brand_name>h3{
        width: fit-content;
        font-size: 17px;
        line-height: 18px;
    }
    .navbar-logo-div{
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.navbar-logo-div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
    .mob-nav-icon{
        font-size: 26px;
    }
    .openMenu li{
    margin-bottom: 16px;
     color: #5E17EB
  }
    .openMenu  li a{
    font-size: 18px;
     color: #5E17EB
  }
  .logout_btn_for_mobile>span:last-child{
     font-size: 18px;
  }
  .change_password_input_div{
    padding: 0px 10px;
  }
  .change_password_input_div > input{
    height:40px;
  }
  
.passWordChangeBtn{
    width:110px !important;
    height:35px;
}
}

@media screen and (min-width:431px) and (max-width:600px){
    .brand_name>p{
        display: none;
    }
    .brand_name>h3{
        width: fit-content;
        font-size: 20px;
        line-height: 20px;
    }
    .mob-nav-icon{
        font-size: 32px;
    }
    .openMenu li{
    margin-bottom: 16px;
     color: #5E17EB
  }
    .openMenu  li a{
    font-size: 20px;
     color: #5E17EB
  }
  .logout_btn_for_mobile>span:last-child{
     font-size: 20px;
  }
   .change_password_input_div > input{
    height:40px;
    font-size: 16px;
  }
  
.passWordChangeBtn{
    width:120px !important;
    height:38px;
}
}